<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">

    <php>
        <env name="APP_ENV" value="test"/>
        <server name="SHELL_VERBOSITY" value="-1" />
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="DEFAULT_URI" value="http://localhost" />
        <env name="CORS_ALLOW_ORIGIN" value="*" />
        <env name="REDIS_URL" value="redis://redis:6379" />
        <!-- <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/test.db"/> -->
    </php>

    <testsuites>
        <testsuite name="Application">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>